.red-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;

  box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
}

.red-button:hover {
  background-color: darkred;
}

.red-button:active {
  background-color: red;
}

.black-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;

  box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
}

.black-button:hover {
  background-color: #555;
}

.black-button:active {
  background-color: black;
}
